* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-image: url(images/patt.png);
}
.header {
	padding: 25px 0;
	background-color: rgba(255,255,255,0.75);
}
.row:after {
	content: "";
	clear: both;
	display: block;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}
[class*="col-"] {
	float: left;
}
.menu li {
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
	list-style-type: none;
}
.menu li:last-child {
	border-right: 1px solid #2c71b8;
}
.menu a, .dropbtn {
	display: block;
	height: 50px;
	font-size: 21px;
	text-align: center;
	line-height: 50px;
	color: #2c71b8;
	font-weight: 300;
	text-decoration: none;
}
.menu a:hover, .dropdown:hover .dropbtn {
	background-color: #2c71b8;
	color: white;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
	display:none;
	position: absolute;
}
.dropdown-content a {
	display: block;
	height: 50px;
	font-size: 21px;
	text-align: left;
	line-height: 50px;
	color: white;
	font-weight: 300;
	text-decoration: none;
	background-color: #2c71b8;
	width: 292px;
	border: 1px solid #2c71b8;
}
.dropdown-content a:hover {
	background-color: white;
	color: #2c71b8;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.search-container {
	width: 200px;
	height: 40px;
	border: 1px solid #2c71b8;
	margin-left: 30px;
}
input[type="text"] {
	border: none;
	outline: none;
	width: 160px;
	vertical-align: middle;
	height: 37px;
	background-color: rgba(255,255,255,0.1);
	font-family: 'Roboto', sans-serif;
}
.button {
	width: 30px;
	height: 30px;
	background-color: #2c71b8;
	border: none;
}
input[type="text"]::-webkit-input-placeholder { 
	color: #2c71b8; 
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
} 
